@font-face {
  font-family: 'Playfair Display';
  src: url('../public//fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Specify the weight range supported by the font */
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Italic';
  src: url('../public//fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public//fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Italic';
  src: url('../public/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}


/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

body {
  padding: 0;
  line-height: inherit;
}
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400; /* Adjust the weight as needed */
}
